h3 {
  display: none;
  font-family: sans-serif;
}

.panel-body {
    box-shadow: 0 0 8px grey;
    /*padding:0 15px 0 15px;*/
}

.panel-body {
  padding: 0;
}

.content h4 {
  position: absolute;
  margin-top: -16%;
  margin-left: 4%;
  font-style: normal;
  font-size: 1.2em;
  color: white;
  letter-spacing: 1.2px;
}

.content p {
  position: absolute;
  margin-top: -5%;
  margin-left: 4%;
  font-style: normal;
  font-size: .7em;
  color: white;
  letter-spacing: 1.2px;
}

.content2 img {
  float: left;
  width: 30%;
  margin: 0% 3%;
  margin-bottom: 2%;
}

.content2 h4 {
  margin-right: 2%;
}

.content2 p {
  margin-right: 2%;
  color: grey;
}

.content3 img {
  float: left;
  width: 30%;
  margin: 0% 3%;
  margin-bottom: 2%;
}

.content3 p {
  color: grey;
}

.content4 img {
  float: left;
  width: 30%;
  margin: 0% 3%;
  margin-bottom: 2%;
}

.content4 p {
  margin-left: 36%;
  color: grey;
}

.content5 img {
  float: left;
  width: 30%;
  margin: 0% 3%;
  margin-bottom: 2%;
}

.content5 p {
  margin-left: 36%;
  color: grey;
}

.content6 img {
  width: 100%
}

.content6 h4 {
  position: absolute;
  margin-top: -16%;
  margin-left: 4%;
  font-style: normal;
  font-size: 1.2em;
  color: white;
  letter-spacing: 1.2px;
}

.content6 p {
  position: absolute;
  margin-top: -5%;
  margin-left: 4%;
  font-style: normal;
  font-size: .7em;
  color: white;
  letter-spacing: 1.2px;
}

@media screen and (min-width: 767px) and (max-width: 991px) {

  h1 {
    display: none;
  }

  .panel-height {
    height: 300px; / change according to your requirement/
  }

  .content2 img {
    margin: 0% 0%;
    width: 100%;
    margin-bottom: 2%;
  }
  .content2 h4 {
    margin-top: 0;
    margin-left: 3%;
  }
  .content2 p {
    margin-left: 3%;
  }

  .content3 img {
    margin: 0% 0%;
    width: 100%;
    margin-bottom: 2%;
  }
  .content3 h4 {
    margin-top: 0;
    margin-left: 3%;
  }
  .content3 p {
    margin-left: 3%;
  }

  .content4 img {
    margin: 0% 0%;
    width: 100%;
    margin-bottom: 2%;
  }
  .content4 h4 {
    margin-top: 0;
    margin-left: 3%;
  }
  .content4 p {
    margin-left: 3%;
  }

  .content5 img {
    margin: 0% 0%;
    width: 100%;
    margin-bottom: 2%;
  }
  .content5 h4 {
    margin-top: 0;
    margin-left: 3%;
  }
  .content5 p {
    margin-left: 3%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    h1 {
      display: none;
    }

    .panel-height {
      height: 350px; / change according to your requirement/
    }

    .content2 img {
      margin: 0% 0%;
      width: 100%;
      margin-bottom: 2%;
    }
    .content2 h4 {
      margin-top: 0;
      margin-left: 3%;
    }
    .content2 p {
      margin-left: 3%;
    }

    .content3 img {
      margin: 0% 0%;
      width: 100%;
      margin-bottom: 2%;
    }
    .content3 h4 {
      margin-top: 0;
      margin-left: 3%;
    }
    .content3 p {
      margin-left: 3%;
    }

    .content4 img {
      margin: 0% 0%;
      width: 100%;
      margin-bottom: 2%;
    }
    .content4 h4 {
      margin-top: 0;
      margin-left: 3%;
    }
    .content4 p {
      margin-left: 3%;
    }

    .content5 img {
      margin: 0% 0%;
      width: 100%;
      margin-bottom: 2%;
    }
    .content5 h4 {
      margin-top: 0;
      margin-left: 3%;
    }
    .content5 p {
      margin-left: 3%;
    }

}

@media screen and (min-width: 1201px) {

  h3 {
    display: block;
  }

  .panel-height {
    height: 310px;
  }

  .content {
    width: 100%;
    float: left;
  }

  .content2 img {
    width: 100%;
    margin: 0 0;
    margin-bottom: 5%;
  }

  .content2 h4 {
    margin-top: 0;
    text-align: center;
    line-height: 23px;
    margin-bottom: 50px;
  }

  .content2 p {
    margin-top: 0;
    text-align: center;
  }
  .content3 img {
    width: 100%;
    margin: 0 0;
    margin-bottom: 5%;
  }

  .content3 h4 {
    margin-top: 0;
    text-align: center;
    line-height: 23px;
    margin-bottom: 50px;
  }

  .content3 p {
    margin-top: 0;
    text-align: center;
  }

  .content4 img {
    width: 100%;
    margin: 0 0;
    margin-bottom: 5%;
  }

  .content4 h4 {
    margin-top: 0;
    text-align: center;
    line-height: 23px;
    /*margin-bottom: 50px;*/
  }

  .content4 p {
    margin-top: 0;

  }

  .content5 img {
    width: 100%;
    margin: 0 0;
    margin-bottom: 5%;
  }

  .content5 h4 {
    margin-top: 0;
    text-align: center;
    line-height: 23px;
    /*margin-bottom: 50px;*/
  }

  .content5 p {
    margin-top: 0;
  }

  .content6 {
    width: 100%;
  }


}
